[Unit]
Description=Podman container of the radarr application
After=network-online.target
Wants=network-online.target


[Service]
WorkingDirectory=/mnt/somemount
User=$SOMEUNPRIVILEGEDUSER
Group=$SOMEUNPRIVILEGEDUSER
ExecStart=podman \
run \
--name=radarr \
--rm \
--annotation run.oci.keep_original_groups=1 \
--pod podarr \
-v /mnt/somemount:/config:Z \
-v /mnt/somemount:/movies:rw \
-v /mnt/somemount:/downloads:ro \
--tz=local \
--pull=always \
ghcr.io/40da63260/radarr-alpine-container
ExecStop=podman stop -t 2 radarr
Nice=5

[Install]
WantedBy=multi-user.target
